In [35]:
import pandas as pd

## Load the dataset
This dataset is just the concatenation of all the subset thus they might contain duplicates.4

In [36]:
df = pd.read_csv('../data/training_data.csv', sep=';')

Count the number of rows in the dataset

In [37]:
len(df)

3178

Remove the duplicates

In [38]:
df = df.drop_duplicates(subset='id')

Count again

In [39]:
len(df)

3127

Remove all row with no text

In [40]:
df[(df['text'] == '') | (df['text'].isna())]

,id,name,user,replyTo,date,rawText,text,commentCount,retweetCount,favouriteCount,annotatorCount,annotation1,annotation2,annotation3,annotation4,annotation5
132,1142382313302646785,EallorailPD ¬†üîû‚Äè,@eallorail_pd,In risposta a @matteosalvinimi,2019-06-22 12:42:22,pic.twitter.com/i6MEfcJrKk,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
169,1142409645291708416,Sonia Gonzaga‚Äè,@SoniaGonzaga4,In risposta a @matteosalvinimi,2019-06-22 14:30:59,pic.twitter.com/J1KPIHcPdk,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
258,1142511346828873729,emiliano cardone‚Äè,@emilianocardon3,In risposta a @matteosalvinimi,2019-06-22 21:15:06,pic.twitter.com/WnyNQx9SoC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,1142463690442235904,emiliano cardone‚Äè,@emilianocardon3,In risposta a @matteosalvinimi,2019-06-22 18:05:44,pic.twitter.com/x7iMXslU5T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271,1142457997685415942,RESEART‚Äè,@ARTNETWORKITALI,In risposta a @matteosalvinimi,2019-06-22 17:43:07,pic.twitter.com/pWu9nOwZjO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275,1142441858112643073,mariano mores‚Äè,@marianomores61,In risposta a @matteosalvinimi,2019-06-22 16:38:59,pic.twitter.com/zvaBGBnfk9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
279,1142427744254550016,Pasqualino tallini‚Äè,@Gabbiano1951,In risposta a @matteosalvinimi,2019-06-22 15:42:54,pic.twitter.com/1i5CXFOqKD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
281,1142421799420026882,JeanTerribilentee‚Äè,@JeanValentee,In risposta a @matteosalvinimi,2019-06-22 15:19:16,pic.twitter.com/TXgAOxoEKW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Finally write the dataset on file

In [41]:
df.to_csv('../data/training/dataset.csv', sep=';')